<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img src="../../../assets/images/logo.jpeg" alt="" width="50" height="50" class="d-inline-block align-text-top">
        <img src="../../../assets/images/titulo.jpeg" alt="" width="250" height="50" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/adultoJoven/insertar">Paciente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/servicios/nuevo">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/anuncios/nuevo">Anuncios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="intereses/nuevo">Interés</a>
          </li>
        </ul>
        <form class="d-flex">

        </form>
      </div>
    </div>
  </nav>

<div class="container">

  <h1>{{ tituloPAGINA }}</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="interes.idInteres">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Nivel de Interes</mat-label>
    <input matInput required placeholder="levelInteres" [(ngModel)]="interes.levelInteres">
  </mat-form-field>

  <br>
  <mat-form-field appearance="fill">
      <mat-label>Seleccione Adulto Joven</mat-label>
      <mat-select [(value)]="idAdultoJovenSeleccionado" required>
          <mat-option *ngFor="let aj of listaAdultoJovenes" [value]="aj.idAdultoJoven">
            {{aj.nombre}}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
      <mat-label>Seleccione Anuncio</mat-label>
      <mat-select [(value)]="idAnuncioSeleccionado" required>
          <mat-option *ngFor="let an of listaAnuncios" [value]="an.idAnuncio">
            {{an.servicio.nameServicios}}
          </mat-option>
      </mat-select>
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/intereses">Cancelar</button>
  <p>{{mensaje}}</p>

</div>
