<p>Insertar Interes</p>
<div class="container">

  <h1>Interes</h1>

  <mat-form-field class="example-full-width">
    <mat-label>Id</mat-label>
    <input matInput placeholder="Id" [(ngModel)]="interes.id">
  </mat-form-field>

  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Medida</mat-label>
    <input matInput required placeholder="name" [(ngModel)]="interes.medidaInteres">

  </mat-form-field>

  <br>
  <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/intereses">Cancelar</button>
  <p>{{mensaje}}</p>

</div>